PORT=3000
DATABASE_URL=postgresql://syslegio_user:SUA_SENHA@localhost:5433/syslegiomariae

FRONTEND_URL=http://localhost:4200

# Gere com: openssl rand -hex 64
JWT_SECRET=COLOQUE_AQUI_UM_SEGREDO_GRANDE_E_ALEATORIO
JWT_ACCESS_EXPIRES_SECONDS=900

REFRESH_TOKEN_DAYS=30
